.core {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  background-color: rgb(26, 7, 44);
}
.left {
  display: flex;
  flex-direction: column;
  width: 22%;
  background-color: antiquewhite;
  height: 100vh;
}
.default {
  width: 100%;
  height: 10%;
  display: flex;
  background-color: rgb(250, 140, 7);
}
.channel {
  width: 100%;
  height: 80%;
  display: flex;
  overflow-y: auto;
}
.profile {
  width: 100%;
  height: 10%;
  display: flex;
  background-color: rgb(250, 140, 7);
}
.center {
  display: flex;
  flex-direction: column;
  width: 56%;
  height: 100vh;
  align-items: center;
  background-color: aquamarine;
}

.search {
  width: 100%; 
  height: 10%;
  display: flex;
  justify-content: center; 
  align-items: center;
  background-color: rgb(29, 161, 242); 
}

.content {
  width: 100%;
  height: 90%; 
  overflow-y: auto;
}

.right {
  display: flex;
  flex-direction: column;
  width: 22%;
  background-color: antiquewhite;
  height: 100vh;
}
.chat {
  width: 100%;
  height: 10%;
  display: flex;
  background-color: rgb(250, 140, 7);
}
