body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

.whole-login {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(88, 101, 242);
}

.center-login {
  width: 80%;
  max-width: 400px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(49, 51, 56);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  gap: 20px;
}

.button-login {
  display: flex;
  gap: 40px;
  margin-top: 20px;
}

.button-login button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: rgb(88, 101, 242);
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-login button:hover {
  background-color: rgb(220, 80, 60);
}

.center-login h2 {
  color: #fff;
  margin-bottom: 20px;
}

.center-login form div {
  margin-bottom: 20px;
}

.center-login form label {
  color: #fff;
}

.center-login form input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
}

.center-login form button[type="submit"] {
  background-color: rgb(88, 101, 242);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.center-login form button[type="submit"]:hover {
  background-color: rgb(220, 80, 60);
}
